* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  background-color: #18191a !important;
  color: white !important;
}

/* Header Section */
.section_img {
  font-size: 20px;
  text-align: center;
}

#img_wallpaper {
  border-bottom: solid #3a3b3c 1px;
}

#back_img {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
}

#back_text {
  position: absolute;
  top: 110px;
  right: 10%; /* Alterei o valor para percentual */
  font-size: 60px;
  text-shadow: 2px 4px #0c0611;
}

/* Navigation */
.navbar.navbar-expand-lg.bg-body-tertiary {
  font-size: 20px;
  background-color: #242526 !important;
  border-bottom: solid #3a3b3c 1px;
}

.nav-link {
  color: white !important;
  text-shadow: 2px 4px #0c0611;
}

.dropdown-menu.show {
  background-color: #242526;
}

.dropdown-item {
  text-shadow: 2px 4px #0c0611;
  color: white !important;
}

.dropdown-menu.show :hover {
  background-color: #18191a;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .content-text {
    margin: 20px 5%;
    background-color: #3a3b3c;
    border-radius: 15px;
    text-shadow: 2px 4px #0c0611;
  }

  #lightbox img {
    max-width: 100%;
    max-height: 100%;
  }

  #lightbox-close {
    font-size: 16px;
  }
}

.content-text {
  margin: 50px 15%;
}


.h1 {
  text-align: center;
  font-size: 2.5vw; /* Tamanho de fonte relativo à largura da viewport */
  margin-bottom: 15px;
}


p {
  text-align: justify;
  font-size: 1.25em;
  margin: 0 10px;
}

.content-text li {
  margin: 0 10px;
  font-size: 1.1em;
}

figure div img {
  padding: 15px;
  display: block;
  margin: auto;
}

div.botao a {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 10px;
}

div.botao a.box {
  background-color: #0044ff;
  color: rgb(143, 143, 143);
}

div.botao a:hover {
  background-color: #00bbff;
  color: white;
}

body::before {
  background-position: 5px 20%; /* Adjusted background position */
}

.blabla {
  margin-top: 2%;
}

#img-perguntas {
  width: 40px;
  margin-top: -10px;
}

#back_text_perguntas {
  right: 50%; /* Adjusted the value for percentual */
  font-size: 40px;
}

figure img {
  max-width: 100%;
  height: auto;
}

