.content-text {
  margin: 0;
  margin-inline: 5%; /* Ajustado para uma margem menor */
  margin-top: 3%;
  margin-bottom: 2%;
  padding: 2%;
  display: grid;
  place-items: center;
  background-color: #3a3b3c34;
}

#back_text {
  position: absolute;
  top: 10%; /* Ajustado para uma posição relativa à altura da tela */
  right: 5%; /* Ajustado para uma margem menor */
  font-size: 4vw; /* Tamanho de fonte relativo à largura da viewport */
  text-shadow: 2px 4px #0c0611;
}
