@import url(global.css);


.card{
  color: white !important;
  background-color: #3a3b3c34 !important;
  text-shadow: 2px 4px #0c0611;
}

.card-group{
  margin-top: solid #3a3b3c 1px !important;
}
.text-body-footer {
  color: white !important;
}

#chartdiv {
  margin-left: 25%;
  color: white !important;
  border-radius: 15px;
  background-color: #3a3b3c34;
}

#back_img {
  display: inline-block;
  position: relative;
  margin-bottom: 80px;
}

#back_text {
  position: absolute;
  top: 110px;
  right: 60% !important; 
  font-size: 60px;
  text-shadow: 2px 4px #0c0611;
}