@import url(global.css);

.card {
  color: white !important;
  background-color: #3a3b3c34 !important;
  text-shadow: 2px 4px #0c0611;
  margin-top: 15px; /* Adicionado um espaço entre os cards */
  border-radius: 15px;
}

.card-group {
  margin-top: 15px !important; /* Ajuste o espaçamento conforme necessário */
}

.text-body-footer {
  color: white !important;
}

#chartdiv {
  position: relative; /* Alterado para relativo para ajustar a posição corretamente */
  margin: 0 auto; /* Adicionado para centralizar horizontalmente */
  width: 100%; /* Ocupa toda a largura do contêiner pai */
  color: white !important;
  border-radius: 15px;
  background-color: #3a3b3c34;
  margin: 15px 0; /* Adicionado espaço acima e abaixo do gráfico */
}

#back_img {
  display: inline-block;
  position: relative;
  margin-bottom: 80px;
}

#back_text {
  position: absolute;
  top: 10%; /* Ajuste a posição conforme necessário */
  right: 5%; /* Ajuste a posição conforme necessário */
  font-size: 5vw; /* Utilizando unidade de viewport para o tamanho da fonte */
  text-shadow: 2px 4px #0c0611;
}

/* Adicionando regras de mídia para ajustes em telas menores */
@media screen and (max-width: 768px) {
  #back_text {
    top: 5%;
    right: 2%;
    font-size: 8vw;
  }
}
